.col img{
    width: 50px;
    float: right;
    margin-right: 30%;
}

.col li{
    display: inline; 
    margin-left: 25%;  
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container .promo {
    text-align: center;
    color: snow;
    
}

a {
    text-decoration: none;
    color: snow;
}

a:hover {
    text-decoration: none;
    color: grey;
}