.col img{
    width: 50px;
    margin-left: 70%;    
}

.col li{
    display: inline; 
    margin-left: 10%;  
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container .promo {
    text-align: center;
    color: snow;
    
}